# Maven
target/
*.class
*.jar
*.war

# Node
node_modules/
dist/
.npm

# IDE
.idea/
*.iml
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
